---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
import { getProjectsSection } from "@/generals.js"

const title = getProjectsSection('about')
---

<Section title={`${title}`}>
  <p>
    {summary}
  </p>
</Section>
